@model List<ZayShop_Dapper_Ui.Dtos.FooterLeftDtos.ResultFooterLeftDto>

@{
	Layout = null;
}

<div class="col-md-4 pt-5">
	<h2 class="h2 text-success border-bottom pb-3 border-light logo">Zay Shop</h2>
	<ul class="list-unstyled text-light footer-link-list">

		@foreach (var item in Model)
		{
			<li>
				<i class="@item.FooterLeftIcon"></i>
				<a class="text-decoration-none" href="@item.FooterLeftLinkUrl">@item.FooterLeftText</a>
			</li>
		}
	</ul>
</div>
