@model List<ZayShop_Dapper_Ui.Dtos.FooterRightDtos.ResultFooterRightDto>

@{
	Layout = null;
}

<div class="col-md-4 pt-5">
	<h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
	<ul class="list-unstyled text-light footer-link-list">

		@foreach (var item in Model)
		{
			<li>
				<a class="text-decoration-none" asp-controller="@item.FooterRightLinkController" asp-action="@item.FooterRightLinkAction">@item.FooterRightText</a>
			</li>
		}
	</ul>
</div>
